      <header>
        <h1>Andrés N. Robalino</h1>
        <img src="http://blog.andresrobalino.com/images/andres_robalino.jpg" height="64" width="64" style="float: left; margin-right: 5px; margin-top: 0px;">
        <p>Andrés <a href="http://twitter.com/androbtech" target="_blank">(@androbtech)</a> trabaja en <a target="_blank" href="https://twitter.com/AndrabTech">Andrab</a> apoyando individuos con el deseo de aprender y adquirir responsabilidad en el desarrollo de software.</p>
        <p>Investiga en diversas áreas de ciencias computacionales. Fue docente en la Universidad Santa María sede Guayaquil. Se educó en Saint Joseph's University siguiendo Mathematics & Computer Science y formó parte del grupo investigativo del proyecto CAVASS del Medical Image Processing Group (MIPG) en la Universidad de Pennsylvania, un proyecto de software libre que incorpora procesamiento paralelo dirigido a la visualización, procesamiento, y análisis de imágenes médicas nD.</p>

        <p>También es organizador del Space Apps Ecuador y drabconf. Co-fundó la comunidad de Ruby del Ecuador. Le interesa que todos sean expuestos a buen material de la industria y el aprendizaje colectivo.</p>
      </header>

