<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Andrés N. Robalino</title>
    
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Andrés N. Robalino</h1>
        <img src="/images/andres_robalino.jpg" height="64" width="64" style="float: left; margin-right: 5px; margin-top: 0px;">
        <p>Andrés <a href="http://twitter.com/androbtech" target="_blank">(@androbtech)</a> trabaja en Andrab apoyando individuos con el deseo de aprender y adquirir responsabilidad en el desarrollo de software.</p>
        <p>Investiga en diversas áreas de ciencias computacionales. Fue docente en la Universidad Santa María sede Guayaquil. Se educó en Saint Joseph's University siguiendo Mathematics & Computer Science y formó parte del grupo investigativo del proyecto CAVASS del Medical Image Processing Group (MIPG) en la Universidad de Pennsylvania, un proyecto de software libre que incorpora procesamiento paralelo dirigido a la visualización, procesamiento, y análisis de imágenes médicas nD.</p>

        <p>También es organizador del Space Apps Ecuador y drabconf. Co-fundó la comunidad de Ruby del Ecuador. Le interesa que todos sean expuestos a buen material de la industria y el aprendizaje colectivo.</p>
      </header>
      <section>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        {{content}}
      </section>
    </div>
    <script src="/javascripts/scale.fix.js"></script>
              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-40560860-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>

